In [1]:
print("Hello")

Hello

In [2]:
phone_number = 456249

print(phone_number)

456249

In [3]:
name = 'Phitron'
print(name)

Phitron

In [4]:
age = 20
height = 5.6
name = "Akash"
is_passed = True

In [5]:
print(type(age), type(height), type(name), type(is_passed))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

Taking Input in Python

In [6]:
name = input("What is your name?")

print(name)

Zahid

In [8]:
age = input("Age ?")

age = int(age)

print(age, type(age))

10 <class 'int'>

In [11]:
height = float(input("height ?"))
print(height, type(height))

height = height + 0.2
print(height)

10.2 <class 'float'>
10.399999999999999

Operation in python

In [17]:
x = 10; y = 3
sum = x + y # summation 
sub = x - y # subtraction
mult = x * y # multiplication
div = round(x/y, 2)
# div = round(x / y , 2) # division 

rem = x % y # remainder 

print(sum , sub , mult, div , rem)

13 7 30 3.33 1

In [22]:
x=10; y=3

greater_than = x>y
greater_than_equal = (10 >= 10)
print(greater_than, greater_than_equal)


less_than = x < y
less_than_equal = (10 <= 10)
print(less_than, less_than_equal)

equal = x==y
print(equal)


not_equal = x!=y
print(not_equal)

True True
False True
False
True

Logical Operator

In [23]:
x = 10; y=5; z = 3

result = (x > y) and (x > z)
print(result)

True

In [24]:
result = (x>y) or (x>z)
print(result)

True

In [27]:
x = 10; y = 20; z = 15
result = (x>y) or (x>z)
print(result)

False

Precedence and Associativity

In [29]:
eq = 10 + 10/2 - 5*2
print(eq)


eq = (10+10)/2 - 5*2
print(eq)

5.0
0.0

Probelm: Digit Summation

In [ ]:
inp = input()
numbers = inp.split()

x = int(numbers[0])
y = int(numbers[1])

last_digit_of_x = x % 10
last_digit_of_y = y % 10

sum = last_digit_of_x + last_digit_of_y

print(sum)

['13', '12']

In [4]:
print(7//2)
print(7/2)

3
3.5

In [5]:
a = 10.0
b = .5
c = 5.

print(type(a), type(b), type(c))

<class 'float'> <class 'float'> <class 'float'>

In [6]:
num = float(input())
print(type(num))

<class 'float'>

In [9]:
print(True)
print(True and True)
print(False or True)
print(5 > 10)

True
True
True
False